@keyframes waveFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-wave {
  animation: waveFadeIn 0.5s ease forwards;
}

.main-header {
  opacity: 0;
  transform: translateY(-80px);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1) all;
}
.home-banner__bg .image {
  transform: scale(1.1);
  transition: 1.5s cubic-bezier(0.4, 0, 0.2, 1) all;
  transition-delay: 0.25s;
}
.home-banner__contents--title {
  opacity: 0;
}

.page-loaded {
  .main-header {
    opacity: 1;
    transform: translateY(0);
  }
  .home-banner__bg .image {
    transform: scale(1);
  }
  .home-banner__contents--title {
    opacity: 1;
  }
}

/* International Telephone Input Styles */
.iti {
  width: 100%;
  &__flag-container {
    cursor: pointer;
  }
  &__arrow {
    width: 6px !important;
    height: 6px !important;
    border: none !important;
    transform: rotate(45deg);
    border-right: 1px solid #7e8695 !important;
    border-bottom: 1px solid #7e8695 !important;
    margin-top: -6px;
    transition: transform 0.2s ease;
    &--up {
      transform: rotate(-135deg);
      margin-top: -2px;
    }
  }
  &__country-list {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    max-height: 12rem;
    overflow-y: auto;
  }
  &__country {
    padding-inline: 12px;
    cursor: pointer;
    &:hover {
      background: #f0f0f0;
    }
    &.iti__active {
      background: #f0f0f0;
    }
  }
  &__selected-country {
    position: relative;
    background: transparent;
    border: 0;
    outline: none;
    padding-right: 24px !important;
  }
  &__selected-country-primary {
    padding-left: 0 !important;
    padding-right: 10px !important;
    position: absolute;
    justify-content: space-between;
    width: 75px;
    &:hover {
      background-color: transparent !important;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 15px;
      background-color: #7e8695;
      opacity: 0.3;
    }
  }
  &__dial-code {
    color: #7e8695;
  }
  &__selected-dial-code {
    margin-left: 25px !important;
  }
}
